// /* CSS Entry Point */

* {
	box-sizing: border-box;
	// border: 1px solid red;
}

.total_wrap {
	width: 100%;
}


header.header1 {
	display: flex;
	justify-content: space-between;
	margin: 0px 183px;
}

header.header2 {
	display: flex;
	justify-content: space-around;
	margin: 0px 190px;
}
.app {
	width: 1000px;
	margin: auto;
	.current_cat {
		display: flex;
		justify-content: space-between;
	}
	.content_wrapper {
		display: flex;
		justify-content: space-between;
	}

	h5 {
		margin-bottom: 0;
		margin-left: 15px;

	}

	aside {
		border: 1px solid black;
		width: 250px;
		.list {
			display: flex;
			flex-direction: column;	
			border: 1px solid gray;
			margin-left: 20px;
			width: 200px;
			margin-bottom: 40px;
			a {
				font-size: 13px;
				text-decoration: none;
				margin: 2px 0px;
				// margin-left: 26px;
			}
		}
	}

	main {
		width: 80%;
		display: flex;
		flex-direction: column;
		background: blue;
		// flex-wrap: wrap;



	}
		.main1wrapper {
		height: 500px;
		width: 70%;
		// background: blue;
		}
		.main2wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.shop {
				text-overflow: ellipsis;
				width: 240px;
				overflow:hidden;
				white-space: nowrap;
			}


			img {
				// margin: 10px;
				width: 240px;
				height: 160px;
			}
		}
}

.price_contain {
	display: flex;
	justify-content: space-between;
}